<section id="intro" class="fx-backstretch">
    <div class="info">
        <div class="container">
            <div class="row">
                <div class="col-full"><h1>мой крутецкий сайт<span class="cool">!!</span></h1></div>
            </div>
            <div class="row"><div class="col-1-4 centered line"></div></div>
            <div class="row">
                <div class="col-full"><h4>трофимова ева</h4></div>
            </div>
        </div>
    </div>

    <nav id="nav">
        <ul class="clearfix">
            <li><a href="#profile">Приветствие</a></li>
            <li><a href="#skills">Возможности</a></li>
            <li><a href="#experience">Предложения</a></li>
            <li><a href="#education">Описание</a></li>
            <li><a href="#portfolio">Проекты</a></li>
            <li><a href="#contact">Связь</a></li>
        </ul>
    </nav>
</section>