
<head>
  
  <title>User Profile</title>
</head>
<body>
  <div class="container">
    <div class="profile">
      <div class="profile-picture">
        <img src="https://storage.yandexcloud.net/storage.yasno.media/nat-geo/images/2023/6/28/a9c7c5ba9c2e4caa9330c1ec5c0fc499.max-2000x1000.jpg" alt="Profile Picture">
      </div>
      <div class="profile-info">
        <h2>User Name</h2>
        <p>Email: </p>
        <p>Location: City, Country</p>
        <button>Edit Profile</button>
      </div>
    </div>
    <div class="photos">
      <h3>Photos</h3>
      <div class="photo-gallery">
        <img src="https://storage.yandexcloud.net/storage.yasno.media/nat-geo/images/2023/6/28/a9c7c5ba9c2e4caa9330c1ec5c0fc499.max-2000x1000.jpg" alt="Photo 1">
        <img src="https://storage.yandexcloud.net/storage.yasno.media/nat-geo/images/2023/6/28/a9c7c5ba9c2e4caa9330c1ec5c0fc499.max-2000x1000.jpg" alt="Photo 2">
        <img src="https://storage.yandexcloud.net/storage.yasno.media/nat-geo/images/2023/6/28/a9c7c5ba9c2e4caa9330c1ec5c0fc499.max-2000x1000.jpg" alt="Photo 3">
      </div>
    </div>
  </div>
</body>

